# Flutter / Dart
build/
.dart_tool/
.packages
.pub/

# Android
android/build/
android/.gradle/
android/local.properties

# iOS / macOS
ios/Pods/
macos/Pods/

# Windows / Linux
windows/flutter/ephemeral/
linux/flutter/ephemeral/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

