# Unity generated folders (scoped to the Unity project)
ARWayz - Unity/[Ll]ibrary/
ARWayz - Unity/[Tt]emp/
ARWayz - Unity/[Oo]bj/
ARWayz - Unity/[Bb]uild/
ARWayz - Unity/[Bb]uilds/
ARWayz - Unity/[Ll]ogs/
ARWayz - Unity/[Uu]serSettings/
ARWayz - Unity/[Mm]emoryCaptures/
ARWayz - Unity/[Rr]ecordings/
ARWayz - Unity/.vs/
